.bg-crema {
  background-color: #f5f0e6;
}

.navbar .nav-link {
  color: #5c3d2e !important;
  transition: color 0.3s, border-bottom 0.3s;
}

.navbar .nav-link.active {
  font-weight: 600;
  border-bottom: 2px solid #5c3d2e;
}

.navbar-brand img {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

.btn-outline-brown {
  color: #5c3d2e;
  border-color: #5c3d2e;
}

.btn-outline-brown:hover {
  background-color: #5c3d2e;
  color: #fff !important;
}

.content-admin {
  min-height: calc(100vh - 100px);
  background-color: #fff;
}
