<div class="container mt-4">
  <h3 class="mb-4 text-center">🍽️ Mantenimiento de Platos</h3>

  <button class="btn btn-primary mb-3" (click)="abrirModalCrear()">
    <i class="bi bi-plus-circle"></i> Nuevo Plato
  </button>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plato of platos">
        <td>{{ plato.id }}</td>
        <td>{{ plato.nombre }}</td>
        <td>S/. {{ plato.precio }}</td>
        <td>{{ plato.categoria.nombre}}</td>
        <td class="text-center">
          <button class="btn btn-warning btn-sm me-2" (click)="abrirModalEditar(plato)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-danger btn-sm" (click)="eliminar(plato.id!)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade show d-block" tabindex="-1" *ngIf="modalVisible">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ editando ? 'Editar Plato' : 'Nuevo Plato' }}</h5>
          <button type="button" class="btn-close" (click)="cerrarModal()"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control mb-2" [(ngModel)]="nuevoPlato.nombre" placeholder="Nombre del plato" />
          <textarea class="form-control mb-2" [(ngModel)]="nuevoPlato.descripcion" placeholder="Descripción"></textarea>
          <input type="number" class="form-control mb-2" [(ngModel)]="nuevoPlato.precio" placeholder="Precio" />
          <select class="form-select mb-2" [(ngModel)]="nuevoPlato.categoria.id">
            <option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.nombre }}</option>
          </select>
          <input type="text" class="form-control mb-2" [(ngModel)]="nuevoPlato.urlImagen" placeholder="URL de imagen" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="guardar()">
            <i class="bi bi-save"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
